@using SportsStore.Domain.Entities
@using SportsStore.WebUI.HTMLHelpers
@using SportsStore.WebUI.Models;
@model ProductsListViewModel

@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-xs-9">
        @foreach (var item in Model.Products)
        {
            @Html.Partial("ProductSummary",item);
        }
        @PagingHelpers.PageLinks(Model.pageInfo, (i) => (@Url.Action("List", new {controller="Product",action="List", page = i, category = Model.Category })))
    </div>
</div>
